html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: red;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: Tahoma, sans-serif;
}