body {
	background: #eee;
	color: #111;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	font-family: Tahoma, sans-serif;
}

h1 {
	color: blue;
}

p {
	font-style: italic;
}